---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: certificate-authority
spec:
  isCA: true
  commonName: cyclops-assets
  secretName: certificate-authority
  duration: 8760h0m0s
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
    group: cert-manager.io
  privateKey:
    algorithm: ECDSA
    size: 256
    rotationPolicy: Always
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: certificate-authority
spec:
  ca:
    secretName: certificate-authority