apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mirror-registry-k8s-io
  namespace: cyclops-assets
spec:
  resources:
    requests:
      storage: 50Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteMany
  storageClassName: ceph-filesystem
